{
    "root": true,
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "extends": [ "eslint:recommended", "plugin:react/recommended" ],
    "env": {
        "node": true
    },
    "rules": {
        "comma-dangle": [ 2, "always-multiline" ],
        "no-console": 0
    }
}
