@import url('~normalize.css');

html,
body {
    color: #111;
    font-family: system, 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.42857;

    &,
    #app,
    .layout {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
    }
}
