.index-page {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    &__tables {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap-reverse;
    }

    &__standings {
        margin-right: 2.2%;
    }

    &__information {
        flex-grow: 1;
    }

    &__social {
        display: flex;
        flex-direction: column;
        margin-left: 2.2%;
    }
}
