html, body, #application {
    height: 100%;
}

body {
    background: #fdfdfd;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    line-height: 1.4;
}

a {
    /*color: #005695;*/
    color: #14619a;
    transition: color 0.5s ease;
}

a:visited {
    color: #6496be;
}

a:hover {
    color: #8e96aa;
    /*color: #ed4700;*/
}

.line {
    border: none;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin: 10px 0;
}

.application {
    position: relative;
}

.layout {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    padding: 0 35px;
    max-width: 1200px;
    margin: 0 auto;
}

.layout__main {
    flex-grow: 1;
    padding: 21px 0 10px;
    margin-top: 6px;
    margin-bottom: 1px;
}

.layout__line.line {
    left: 0;
    right: 0;
    position: absolute;
    margin: 0;
    /* margin: 0 -40px; */
}
.layout__line_top {
    height: 1px;
    border-top: 5px solid #F26115;
}

.header {
    padding: 16px 0 14px;
    display: flex;
    align-items: center;
}

.header__logo, .header__logo:visited {
    font: bold 33px 'Lato', Calibri, Arial, sans-serif;
    text-decoration: none;
    margin-right: 1em;
    color: #333;
    text-transform: uppercase;
}

.header__sign-in {
    flex-grow: 1;
    text-align: right;
}

.sign-in__help {
    margin-left: 10px;
}

.sign-in__help-icon {
    vertical-align: middle;
}

.main-menu__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu__item {
    display: inline-block;
}
.main-menu__item:not(:last-child):after {
    content: "\2022";
    color: gainsboro;
    margin: 0 5px;
}

.index-page {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.index-page__tables {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap-reverse;
}

.index-page__league-table {
    margin-right: 25px;
}

.index-page__switcher {
    flex-grow: 1;
    max-width: 700px;
    min-width: 280px;
    margin: 0 auto 10px;
}

.index-page__social {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.league-table {
    border: 2px solid #000;
    margin-left: 0;
    border-color: #333;
}

.league-table__head-cell, .league-table__cell {
    border-right: 1px solid #000;
    min-width: 40px;
    padding: 0 7px;
    border-color: #333;
}
.league-table__head-cell {
    background: #333;
    color: white;
}

.league-table__cell {
    padding-top: 3px;
    padding-bottom: 3px;
}

.league-table__line:nth-child(odd) {
    background: #eee;
}

.league-table__line:nth-child(1) {
    background: #95bded;
}

.league-table__pos, .league-table__points {
    text-align: center;
}

.league-table__username {
    padding-right: 15px;
    padding-left: 15px;
}

.switcher {
    display: flex;
}

.switcher__tabs {
    list-style: none;
    margin: 0;
    padding: 10px 0 0;
}

.switcher__tab {
    padding: 5px 10px;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    background: #eee;
}

.switcher__tab_active {
    position: relative;
    background: #fff;
}

.switcher__content {
    border: 2px solid #000;
    margin-left: -2px;
    background: #fff;
    flex-grow: 1;
}

.switcher__tab:first-child {
    border-top: 2px solid #000;
}

.social-pane {
    display: flex;
    flex-direction: column;
}

.social-pane__icon:first-child {
    margin-top: 0;
}

.social-pane__icon {
    margin-top: 5px;
}

.social-pane__icon_mail {
    margin-top: 2px;
}

.footer {
    display: flex;
    padding: 10px 0;
}

.footer__copyright {
    white-space: nowrap;
}

.footer__contacts {
    text-align: right;
    flex-grow: 1;
}

.footer__fork-me, .footer__author {
    display: inline-block;
}

.footer__fork-me {
    margin-right: 14px;
}
