.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 0;

    &__years,
    &__source {
        padding: 0;
        margin: 0;
    }

    &__years {
        white-space: nowrap;
    }
}
