{
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": false,
        "destructuring": false,
        "forOf": true,
        "generators": false,
        "modules": false,
        "objectLiteralComputedProperties": false,
        "objectLiteralDuplicateProperties": false,
        "objectLiteralShorthandMethods": false,
        "objectLiteralShorthandProperties": false,
        "restParams": false,
        "spread": false,
        "templateStrings": false,
        "jsx": false,
        "experimentalObjectRestSpread": false
    },
    "env": {
        "browser": false
    }
}
